:root {
  --color-primary: #1e213a;
  --color-primary-light: #292c44;
  --color-primary-dark: #100e1d;

  --color-text: #e7e7eb;
  --color-text-dark: #a09fb1;
  --color-text-darker: #88869d;

  --color-secondary: #ffec65;

  --color-box: #6e707a;
  --color-box-dark: #585676;
  --color-box-blue: #3f51b5;
}
