.dayCard {
  font-size: 1.6rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  background-color: var(--color-primary);

  h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }

  img {
    height: 6rem;
    width: 6rem;
    margin-bottom: 1.5rem;
  }

  &__temp {
    display: flex;

    &--min {
      color: var(--color-text-dark);
    }

    p {
      margin: 0 0.8rem;
    }
  }
}
