@import "../design-tokens/scss-variables";

.highlight {
  background-color: var(--color-primary);
  padding: 1.5rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  @include respond(smallPhone) {
    padding: 1.5rem 2rem;
  }

  h4 {
    font-weight: 500;
    font-size: 1.6rem;
  }

  p {
    font-size: 2.5rem;
    font-weight: 500;
    flex: 1;
    span {
      font-size: 5rem;
      font-weight: 700;
    }
  }

  &__windDirection {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
  }

  &__humidity {
    width: 100%;
    display: flex;
    flex-direction: column;

    p {
      font-size: 1.2rem;
      font-weight: 700;
    }

    &--p {
      text-align: right !important;
    }
  }

  &__percent {
    display: flex;
    justify-content: space-between;

    &--zero {
      text-align: left !important;
    }

    &--hundred {
      text-align: right !important;
    }
  }

  &__progressLabel {
    width: 100%;
    height: 1rem;
    background-color: var(--color-box);
    border-radius: 50px;
  }

  &__progress {
    background-color: var(--color-secondary);
    height: 100%;
    border-radius: 50px;
  }

  .MuiFab-root {
    cursor: default;
    margin-right: 2rem;
  }
}
