@import "../design-tokens/scss-variables";

.rightSection {
  background-color: var(--color-primary-dark);
  flex: 0.72;
  display: flex;
  flex-direction: column;
  padding: 3rem 5rem;

  @include respond(smallPhone) {
    padding: 1.5rem 2.5rem;
  }

  &__units {
    display: flex;
    flex-direction: row-reverse;

    .MuiButtonBase-root {
      margin: 0 4px;
    }

    .MuiFab-label {
      font-size: 1.8rem;
      font-weight: 700;
    }

    @include respond(smallPhone) {
      justify-content: space-around;
    }
  }

  &__days {
    // display: flex;
    // justify-content: space-between;
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
    grid-gap: 1.5rem;
  }

  &__highlights {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;

    &--grid {
      flex: 0.8;
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: repeat(auto-fit, minmax(32em, 1fr));
      margin-top: 2rem;
    }

    h3 {
      font-weight: 700;
      font-size: 2.4rem;
    }
  }

  &__createBy {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 1.4rem;
    margin-top: auto;
  }

  &__userName {
    text-decoration: underline;
  }

  p {
    text-align: center;
  }
}
