@import "../design-tokens/scss-variables";

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 30%;
  height: 100%;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  transition: all 0.3s ease-in-out;
  transform: translateX(-100%);
  overflow-y: scroll;
  padding: 0 2rem 5rem 2rem;

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: var(--color-primary-light);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--color-box-blue);
    transition-duration: 200ms;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--color-box-dark);
  }

  @include respond(smallDesktop) {
    height: 100vh;
    width: 50%;
  }

  @include respond(tab-port) {
    width: 70%;
  }

  @include respond(phone) {
    width: 100%;
  }

  &__open {
    transform: translateX(0);
  }

  &__close {
    position: sticky;
    top: 1.5rem;
    align-self: flex-end;

    z-index: 100;
  }

  &__search {
    display: flex;
    align-items: center;
    // margin-top: 8vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    position: sticky;
    top: 0px;
    background-color: var(--color-primary);
    padding-top: 7rem;
    padding-bottom: 2rem;
    width: 100%;

    button {
      padding: 1rem;
      color: var(--color-text);
      background-color: #3f51b5;
      border: none;
      outline: none;
      margin-left: 1rem;
      cursor: pointer;
      transition: all 0.3s;
      font-family: "Raleway";
      font-weight: 600;

      &:active {
        background-color: rgba(224, 224, 224, 0.4);
      }
    }
  }

  &__input {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-text-darker);
    padding-left: 1rem;
    width: 65%;

    @include respond(smallPhone) {
      width: 65%;
    }

    input {
      background-color: transparent;
      outline: none;
      border: none;
      padding: 1rem;
      color: var(--color-text);
    }
  }

  &__message {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      font-size: 1.5rem;
      padding-top: 3px;
    }
  }
}
